//Offsets
$offset: 15px;

@mixin flex(){
  display: flex;
  flex-wrap: wrap;
}
@mixin flex-row(){
  @include flex();
  @include row-offset();
}
@mixin col() {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
@mixin col-p() {
  @include col();
  @include col-offset();
}
@mixin col-auto() {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
@mixin col-auto-p() {
  @include col-auto();
  @include col-offset();
}
@mixin row-offset() {
  margin-right: ($offset * -1);
  margin-left: ($offset * -1);
}
@mixin col-offset() {
  padding-right: $offset;
  padding-left: $offset;
}
@mixin row-bottom() {
  margin-bottom: -$offset_tablet * 2;
}
@mixin col-bottom() {
  margin-bottom: $offset * 2;
}
