// Colors
$color-primary: #1e0907;
$color-second: #fff;
$color-contsrast: #f882b5;
$color-contsrast2: #e03c75;
$color-grey: #f5f5f5;
$color-grey2: #e6e6e6;

// Fonts
$base-font-size: 16px;
$font-first: 'Museo Sans Cyrl';
$title-size: 60px;
$title-size2: 44px;
$title-size3: 30px;
$title-size4: 26px;
$title-size5: 22px;
$title-size6: 20px;
//Width
$container-width: 1590px;

//Breakpoints 
//max-width
$laptop-xl: 1890px; //1440px
$laptop-l: 1599px; //1440px
$laptop-m: 1439px; //1366px
$laptop-s: 1365px; //1280px
$laptop-xs: 1279px; //1024px
$tablet: 1023px; //768px
$mobile-xl: 767px; //667px
$mobile-l: 666px; //568px
$mobile-m: 567px; //425px
$mobile-s: 424px; //375px
$mobile-xs: 374px; //320px
