include ../../components/title-section/title-section

section.about.section#about
  ._container.container
    +title-section('простых шага к женскому здоровью')
    ._row
      ._item
        ._item-icon 1
        ._item-wrap
          ._item-title Профилактика
          ._item-desc Необходимо проходить осмотр у гинеколога, с обязательным взятием мазка по методу жидкостной цитологии, <span>не реже 1 раза в 3 года<span>.
      ._item
        ._item-icon 2
        ._item-wrap
          ._item-title Обследование
          ._item-desc Мазок по методу жидкостной цитологии считается единственным методом снижения распространения заболеваний и патологий шейки матки.
      ._item
        ._item-icon 3
        ._item-wrap
          ._item-title Контроль
          ._item-desc Следуйте указаниям вашего гинеколога, в случае обнаружения патологий.
  .section-bg
    .section-bg__content
      .section-bg__img   