mixin footer-menu__item(title, link)
  .footer-menu__item
    a.footer-menu__link(href=link)= title

footer.footer
  ._main
    ._container.container
      ._main-row
        ._phone
          p._phone-text Телефон горячей линии:
          p._phone-link 
            a(href="tel:8362689727") (8362) 68-97-27
          p._email Email:
            a(href="mailto:medcenter_rkb@mail.ru")  medcenter_rkb@mail.ru
        .footer-copyright
          .footer-copyright__item
            a(href="http://www.foxdesign.ru/" target="_blank").footer-copyright__link
              img(src="./img/copyright.png", alt="")
          .footer-copyright__item
            a.footer-copyright__mail(href="mailto:Foxdesign116@yandex.ru") Foxdesign116@yandex.ru
