include ../../components/title-section/title-section

section.screen.section#screen
  ._container.container
    ._row
      ._item
        ._item-wrap
          .blocks
            ._row
              ._item.blocks__item1
                ._wrap(style='background-image: url(./img/screen1.jpg);')
              ._item.blocks__item2
                ._wrap(style='background-image: url(./img/screen2.jpg);')
              ._item.blocks__item2
                ._wrap(style='background-image: url(./img/screen3.jpg);')
              ._item.blocks__item1
                ._wrap(style='background-image: url(./img/screen4.jpg);')
      ._item
        ._item-wrap  
          +title-section('О программе скрининга')
          ._desc
            p Программа скрининга проводится в РМЭ с 2015 года. За эти годы было обследовано более 30 тысяч женщин, у которых была выявлена патология шейки матки на ранних стадиях, что позволило избежать проблем со здоровьем, за счет своевременного и безопасного лечения.
            p По данным Всемирной Организации Здравоохранения, скрининг РШМ является наиболее эффективным способом выявления заболевания на ранней стадии и самым эффективным для сохранения женского здоровья.
  ._bg